@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Trash Collector</h1>
        <p class="lead"> I built this Application to change the traditional way of collecting waste.
           Trash Collector uses ASP.NET MVC 5 Entity Framework and includes two ASP.NET Roles (Customer and Employee). <br> <br>
           Customers are able to register and create an account to signup to receive regular trash pickups. Employees are able to sign in and see their scheduled pickups for that day based on their Zip Code. </p>

        <p class="lead">Here's how it works: 
        <ol>
            <li>Create a "Customer" account and make sure to pay attention to the Zip Code. (Or multiple accounts, whatever you prefer)</li>
            <li>After you create the "Customer" account(s), create an "Employee" account with the same Zip Code as the customers you created.<li>
            <li>Notice that when you log in, the default page is a list of Customers that need to have their trash picked up for that day.<li>
        </ol>
        </p>
        
    </div>

